accelerate==0.24.1
fastapi==0.104.1
huggingface-hub==0.20.2
jieba==0.42.1
langchain==0.0.327
langcodes==3.3.0
langsmith==0.0.56
nltk==3.8.1
numpy==1.26.1
openai==0.28.1
peft==0.5.0
scipy==1.11.4
spacy==2.3.9
torch==2.1.2+cu118
torchaudio==2.1.2+cu118
torchtext==0.6.0
torchvision==0.16.2+cu118
tqdm==4.65.0
transformers==4.36.2